.dticon img {
    cursor: pointer;
    width: 22px;
    height: auto;
}

.dticon {
    width: 90px;
}

td.colRed {
    color: red;
}

td.colGreen {
    color: green;
}

.imgGal {
    border: 1px solid #D7D8DA!important;
}

.deleteImage {
    cursor: pointer;
}

.req {
	color: red;
}

.scrollable-wrapper {
  max-height: 400px;
  overflow: auto;
}

.scrollable-wrapper-gallery {
  max-height: 500px;
  overflow: auto;
}

.scrollable-wrapper-gallery table thead th , .scrollable-wrapper table thead th {
	vertical-align: middle!important;
}